{
  "overrides": [
    {
      "files": [".prettierrc", ".eslintrc"],
      "options": {
        "parser": "json"
      }
    }
  ],
  "singleQuote": true,
  "trailingComma": "none",
  "no-mixed-spaces-and-tabs": "off"
}
